@charset "utf-8";

.mainHeading {
  text-align: center;
  background-color: cornflowerblue;
}

* {
  box-sizing: border-box;
}

.box {
  color: black;
  font-size: 20px;
  text-align: center;
  padding: auto;
  font-family: sans-serif;
}

.rowBar {
  display: flex;
  max-height: 20vh;
  min-width: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
}

.bar1 {
  background: coral;
  padding-right: 30px;
}
.bar2 {
  background: rgb(101, 108, 167);
  padding-right: 30px;
}
.bar3 {
  background: rgb(23, 165, 58);
  padding-right: 30px;
}
